.ReactModal__Content {
    bottom: 0;
    left: 50%;
    transform: 'translate(-50%, -50%)';
    transition: bottom 700ms ease-in-out;
    &--after-open{
        bottom: 50%;
    }
    &--before-close{
        bottom: -25%;
    }
    .avatar-image {
        border: 8px solid #FFCC00;
        padding: 2px;
        background: #000000
    }
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    &--after-open{
        opacity: 1;
    }
    &--before-close{
        opacity: 0;
    }
}
