@tailwind base;
@tailwind components;
@import 'fonts/fonts';
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

:root {
    --bold-font-size: 1.25rem;
    --medium-font-size: 1.125rem;
    --regular-font-size: 1rem;

    --extra-bold-font-family: 'manrope-extra-bold', arial, sans-serif;
    --semi-bold-font-family: 'manrope-semi-bold', arial, sans-serif;
    --bold-font-family: 'manrope-bold', arial, sans-serif;
    --light-font-family: 'manrope-light', arial, sans-serif;

    --primary-color: #FFCC00;
    --secondary-color: #F6B511;
}

@for $i from 1 through 6 {
    h#{7 - $i} {
        font-family: var(--semi-bold-font-family);
    }
}